.main
{
    background-color: rgb(33 37 41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 150px 0;
    
}
.about_Header
{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
}
.star
{
    color: rgb(228, 75, 9);
    /* width: fit-content; */
    position: relative;
    margin-bottom: 5px;
}
.star::after
{
    content: "";
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 5px;
    background-color: rgb(228, 75, 9);
}
.star::before
{
    content: "";
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 5px;
    background-color: rgb(228, 75, 9);
}